.yellow{
    color: yellow;
}
h1 {
    color: aqua;
    text-align: center;
}
h2{
    color: bisque;
    font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
}
.logo{
    width: 75%;
    background-color: white;
    text-align: center;
    border-radius: 16px;
    display: block;
    margin:auto
}
body{
    background-color: chocolate;
}
.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
  }
  
  .container td {
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 2px 2px -2px #0e1119;
  }
  
  .container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }
  
  .container td,
  .container th {
    padding: 8px 0 8px 12px;
  }
  
  /* Background-color of the odd rows */
  .container tr:nth-child(odd) {
    background-color: #323c50;
  }
  
  /* Background-color of the even rows */
  .container tr:nth-child(even) {
    background-color: #2c3446;
  }
  
  .container th {
    background-color: #1f2739;
  }
  
  .container td:first-child {
    color: #fb667a;
  }
  
  .form {
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    width: 20px;
    text-align: center;
  }
  
  .win {
    background-color: #14dc4b;
  }
  
  .draw {
    background-color: #ffcd00;
  }
  
  .loss {
    background-color: #dc0000;
  }