.item {
    background-color: tomato;
    width: 100%;
    flex: 1;
    margin: 10px;
    text-align: center;
    color: white;
    padding: 30px 0;
  }
  
  /* Su Flexbox */
  
  .flex {
    display: flex;
    min-height: 20vh;
  }
  
  .left-side, .right-side {
    width: 50%;
  }
  
  .right-side {
    display: flex;
    flex-wrap: wrap;
  }
  .right-side > * {
    width: 100%;
  }
  
  .left-side, .right-bottom, .right-top {
    display: flex;
  }
  .grid{
    display: grid;
    padding: 10px;
    gap:20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
.gridone, .gridtwo, .gridthree, .gridfour
{
background-color: blue;
padding: 50px 0;
text-align: center;
}
.gridone {
    grid-row: 1/3;
    grid-column: 1/3;
}
.gridtwo{
    grid-column: 3/5;
}