.ToDo{
    color: rgb(173, 246, 246);
}
.title{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
ul{
list-style-type: none;
padding:0cm;
color:rgb(173, 246, 246) ;
}   
body {
    background: rgb(247, 245, 243);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 2;
    color: rgb(28, 25, 20);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100px;
  }
  nav {
    background: white;
    box-shadow:1,5cm;
    line-height: 1;
  }
  .title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .social {
    display: flex;
    color:aqua;
  }
.alert {
  color: darkred;
  letter-spacing:0,5mm;
  text-transform: capitalize;
}
.tasks-container {
    width: 90vw;
    max-width:fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .single-task {
    padding: 1rem 2.5rem;
    background: white;
    box-shadow:1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-completed {
    padding: 1rem 2.5rem;
    background: white;
    box-shadow:1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    cursor: pointer;
    color: white;
    background:whitesmoke;
    border: transparent;
    border-radius: 25%;
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    text-transform: capitalize;
    display: inline-block;
  }
  .btn:hover {
    background: whitesmoke;
    box-shadow:3;
  }
  .btn-block {
    width: 100%;
  }
  