nav ul {display:flex; 
    justify-content: center;
     gap:60px;
     flex-direction: column;
     align-items: flex-end;
     background-color: blue;
gap:20px;

}
li{
    width: 90px;
    height: 30px;
    background-color: aqua;
    flex-direction: column;
    flex-grow: 1;
    gap:20px;
}
    

